In [1]:
import pandas as pd
import seaborn as sns

In [2]:
pwd

'/global/scratch/users/empchase/Scripts/ciber_experiment/RPTRscripts'

In [6]:
import string
s = 'string] with. punctuation'
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [26]:
filename = 'slurm-18652952.out'

libstats = {}

with open(filename, 'r') as f:
    
    for line in f:
        liblist = []
        if line.startswith('['):
            elements = line.split(",")
            key = '_'.join(elements[0].strip(string.punctuation).split('_')[0:3])
            totreads = elements[1]
            goodlen = elements [2]
            matches = elements[-1].strip().strip(string.punctuation)
            unique = elements[-2]
            liblist.extend([key, totreads, goodlen, matches, unique])
            libstats[key] = liblist
            
print(libstats)

{'RPTR_4_0': ['RPTR_4_0', ' 35752202', ' 35413536', '20167251', ' 3349'], 'RPTR_3_0': ['RPTR_3_0', ' 29208826', ' 28941266', '16351793', ' 3386'], 'RPTR_2_240': ['RPTR_2_240', ' 28851158', ' 28590503', '19737534', ' 3354'], 'RPTR_2_5': ['RPTR_2_5', ' 29897603', ' 29632938', '19608267', ' 3321'], 'RPTR_2_10': ['RPTR_2_10', ' 34031691', ' 33749792', '23287491', ' 3346'], 'RPTR_2_30': ['RPTR_2_30', ' 25144079', ' 24935638', '17462373', ' 3335'], 'RPTR_4_10': ['RPTR_4_10', ' 31258832', ' 30996924', '21166978', ' 3358'], 'RPTR_3_180': ['RPTR_3_180', ' 29946720', ' 29655761', '19801750', ' 3368'], 'RPTR_4_180': ['RPTR_4_180', ' 35752625', ' 35456767', '23948097', ' 3406'], 'RPTR_4_30': ['RPTR_4_30', ' 28002280', ' 27783882', '19260390', ' 3372'], 'RPTR_4_5': ['RPTR_4_5', ' 33756214', ' 33453868', '21778942', ' 3389'], 'RPTR_4_15': ['RPTR_4_15', ' 27600242', ' 27380567', '18992959', ' 3360'], 'RPTR_2_0': ['RPTR_2_0', ' 29281808', ' 29029700', '16845879', ' 3315'], 'RPTR_3_5': ['RPTR_3_5', ' 30746712', ' 30473570', '19962782', ' 3359'], 'RPTR_3_10': ['RPTR_3_10', ' 33975374', ' 33680687', '23095989', ' 3353']}

In [27]:
rptrstats = pd.DataFrame.from_dict(libstats)
rptrstats.head(20)

,RPTR_4_0,RPTR_3_0,RPTR_2_240,RPTR_2_5,RPTR_2_10,RPTR_2_30,RPTR_4_10,RPTR_3_180,RPTR_4_180,RPTR_4_30,RPTR_4_5,RPTR_4_15,RPTR_2_0,RPTR_3_5,RPTR_3_10
0,RPTR_4_0,RPTR_3_0,RPTR_2_240,RPTR_2_5,RPTR_2_10,RPTR_2_30,RPTR_4_10,RPTR_3_180,RPTR_4_180,RPTR_4_30,RPTR_4_5,RPTR_4_15,RPTR_2_0,RPTR_3_5,RPTR_3_10
1,35752202,29208826,28851158,29897603,34031691,25144079,31258832,29946720,35752625,28002280,33756214,27600242,29281808,30746712,33975374
2,35413536,28941266,28590503,29632938,33749792,24935638,30996924,29655761,35456767,27783882,33453868,27380567,29029700,30473570,33680687
3,20167251,16351793,19737534,19608267,23287491,17462373,21166978,19801750,23948097,19260390,21778942,18992959,16845879,19962782,23095989
4,3349,3386,3354,3321,3346,3335,3358,3368,3406,3372,3389,3360,3315,3359,3353

In [19]:
len(libstats)

15

In [24]:
filename2 = 'slurm-18640724.out'

libstats2 = {}

with open(filename2, 'r') as f:
    
    for line in f:
#         print(line)
        liblist = []
        if line.startswith('['):
            elements = line.split(",")
            key = '_'.join(elements[0].strip(string.punctuation).split('_')[0:3])
            totreads = elements[1]
            goodlen = elements [2]
            matches = elements[-1].strip().strip(string.punctuation)
            unique = elements[-2]
            liblist.extend([key, totreads, goodlen, matches, unique])
            libstats2[key] = liblist
            
print(libstats2)

{'RPTR_3_15': ['RPTR_3_15', ' 33586682', ' 33318054', '23211186', ' 3368'], 'RPTR_2_180': ['RPTR_2_180', ' 29459066', ' 29210101', '20377920', ' 3360'], 'RPTR_3_240': ['RPTR_3_240', ' 27239158', ' 26969117', '18288653', ' 3356'], 'RPTR_4_240': ['RPTR_4_240', ' 34554681', ' 34264901', '23209210', ' 3423']}

In [25]:
rptrstats2 = pd.DataFrame.from_dict(libstats2)
rptrstats2.head(20)

   RPTR_3_15  RPTR_2_180  RPTR_3_240  RPTR_4_240
0  RPTR_3_15  RPTR_2_180  RPTR_3_240  RPTR_4_240
1   33586682    29459066    27239158    34554681
2   33318054    29210101    26969117    34264901
3   23211186    20377920    18288653    23209210
4       3368        3360        3356        3423

In [29]:
rptrstats[['new1', 'new2', 'new3', 'new4']] = rptrstats2
rptrstats

,RPTR_4_0,RPTR_3_0,RPTR_2_240,RPTR_2_5,RPTR_2_10,RPTR_2_30,RPTR_4_10,RPTR_3_180,RPTR_4_180,RPTR_4_30,RPTR_4_5,RPTR_4_15,RPTR_2_0,RPTR_3_5,RPTR_3_10,new1,new2,new3,new4
0,RPTR_4_0,RPTR_3_0,RPTR_2_240,RPTR_2_5,RPTR_2_10,RPTR_2_30,RPTR_4_10,RPTR_3_180,RPTR_4_180,RPTR_4_30,RPTR_4_5,RPTR_4_15,RPTR_2_0,RPTR_3_5,RPTR_3_10,RPTR_3_15,RPTR_2_180,RPTR_3_240,RPTR_4_240
1,35752202,29208826,28851158,29897603,34031691,25144079,31258832,29946720,35752625,28002280,33756214,27600242,29281808,30746712,33975374,33586682,29459066,27239158,34554681
2,35413536,28941266,28590503,29632938,33749792,24935638,30996924,29655761,35456767,27783882,33453868,27380567,29029700,30473570,33680687,33318054,29210101,26969117,34264901
3,20167251,16351793,19737534,19608267,23287491,17462373,21166978,19801750,23948097,19260390,21778942,18992959,16845879,19962782,23095989,23211186,20377920,18288653,23209210
4,3349,3386,3354,3321,3346,3335,3358,3368,3406,3372,3389,3360,3315,3359,3353,3368,3360,3356,3423

In [30]:
rptrstats.to_csv('RPTRSTATS.csv')

In [31]:
pwd

'/global/scratch/users/empchase/Scripts/ciber_experiment/RPTRscripts'

In [ ]:
tdsfs